<!DOCTYPE html>
<html>
<head>
<title>Item Details</title>
<link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<style>
body {
    font-family: 'Inter', sans-serif;
    background-color: #E8EDEC;
}
head {
    color: #9730DB;
    font-size: 160%;
    font-weight: bold;
}
</style>
</head>
<body>
    {% for book in books %}
        <img src="http://127.0.0.1:8001/get_book_image/{{ book['book_id'] }}">
    {% endfor %}
</body>
</html>