<!DOCTYPE html>
<html>
    <head>
        <style>
            a {
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div width="100vw" height="100vh">
            <h1><a href="/">&larr;</a><span>{{ book['title'] }} by {{ book['author'] }}</span></h1>
            <center>
        <img id="bigImage" src="/images/{{ book['book_id'] }}-0.png" height="850vh">

        <br>

        {% for i in range(num_images) %}
            <img id="smallImage{{ i }}" class="smallImage" src="/images/{{ book['book_id'] }}-{{ i }}.png" alt="image" width="4.5%">
        {% endfor %}

            </center>
        </div>

        <script>
            // Get a reference to the big image and small images
            const bigImage = document.getElementById("bigImage");
            const smallImages = document.querySelectorAll(".smallImage");
        
            // Add a click event listener to each small image
            smallImages.forEach((smallImage, i) => {
                smallImage.addEventListener("click", () => {
                    // Update the source of the big image when a small image is clicked
                    bigImage.src = `/images/{{ book['book_id'] }}-${i}.png`;
                });
            });
        </script>
        
    </body>
</html>
